@if(!isSidebarOpen){
  <div class="sidebar" >
    <button (click)="toggleSidebar()" class="floating-menu menu-button" ><img src="assets/bglogo.jpg" alt="Banco Guaayquil logo"></button>
  </div>    
}
@else{
    <div class="sidebar" [ngClass]="{ 'collapsed': !isSidebarOpen }">
        <button (click)="toggleSidebar()" class="menu-button">
            <img style="width: 40px;margin-right: 0.1rem;" src="assets/hide.svg" alt="hide">
            <img style="width: 150px;" src="assets/bg-logo-white.png" alt="Banco Guaayquil logo">
        </button>
        <div class="sidebar-header">
          <h2>Cotizaciones</h2>
        </div>
        <ul class="sidebar-list">
          @for (route of appRoutes; track route.label) {
            <li class="sidebar-item"><a href="#" (click)="setAppUrl(route.route)">{{route.label}}</a></li>
          }
        </ul>
    </div>
}

